/* paleta de colores por default
 * ------------------------------------------------- 
    1a0b0c = ginda oscuro
    cf3e3e = red labial
    E9E9E9 = blanquesino
    5f5f5f = gris
    1f1f1f = gris oscuro
*/

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 400;
    src: url("../fonts/Quicksand.woff2") format('woff2');
    unicode-range: U+1f1f1f0-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+21f1f1f-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --color-uno: #1f1f1f;
    --color-dos: #5f5f5f;
    --color-tres: #E9E9E9;
    --color-cuatro: #cf3e3e;
    --color-cinco: #1a0b0c;
    --color-seis: #3CD2E6;
    --fuente: Quicksand;
}

*{
    font-family: var(--fuente);
}



/* main
 * ------------------------------------------------- */
html,body{
    background-color: var(--color-uno);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* google material icons
 * ------------------------------------------------- */
.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.material-icons-outlined{
    display: inline-flex;
    vertical-align: top;
}



/* card
 * ------------------------------------------------- */
.card{
    color: var(--color-dos);
    background-color: var(--color-uno);
    border:none !important;
}

.card-body{
    background-color: var(--color-uno);
}

.card-text{
    font-size: 18px;
    margin-left: -17px !important;
}

.card-text p{
    color: var(--color-cuatro);
    display: inline-block;
    margin-bottom: 0 !important;
    font-weight: bold;
}

.card-text i{
    height: 0px !important;
}

.card.client-server{
    text-align:right; 
    margin-right: -14px;
}

.btn-client-server{
    border: none;
    background: transparent;
    color: var(--color-seis);
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    font-size: 1.05rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    visibility: hidden;
}

.btn-client-server--disconnect{
    color: var(--color-cuatro);
}

.btn-client-server:hover {
    color: var(--color-dos);
    background-color: transparent;
}

.btn-client-server:active {
    color:var(--color-tres);
    background-color: transparent;
}

.fa-exclamation-triangle,
.fa-users,
.fa-chalkboard-teacher{
    display: none;
}



/* Modal
 * ------------------------------------------------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 2rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

.modal-content{
    border: 1px solid var(--color-cuatro);
    background-color: var(--color-cinco);
    width:50%;
    margin: auto;
}

.modal-head{
    color: var(--color-dos);
    margin: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}

.title{
    margin-top: 1em;
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-cuatro);
    z-index: 5;
}

.close {
    margin-top: 0.5em;
    position:absolute;
    display:inline-flex;
    color: var(--color-cuatro);
    font-size: 35px;
    font-weight: bold;
    z-index: 4;
    padding-left:87%;
}

.close:hover {
    color: var(--color-dos);
    text-decoration: none;
    cursor: pointer;
}

.modal-body,
.modal-classroomview{
    position: relative;
    color: var(--color-dos);
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    display:inline-block; 
    text-align:left;
}

.modal-body input,
.modal-captcha input{
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: var(--color-cuatro);
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px dashed var(--color-cuatro);
    font-size: 1.4rem;
    background-color: transparent;
    border-radius: .25rem;
    width:80%;
    margin-right: .2rem;
    margin-bottom: 1rem;
}

.modal-body input:focus,
.modal-captcha input:focus {
    outline: none !important;
    color:var(--color-dos) !important;
    border: 1px solid var(--color-dos) !important;
}

.modal-body .btn-short,
.modal-captcha .btn-short{
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-cuatro);
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--color-cinco);
    border: 1px solid var(--color-cuatro);
    font-size: 1.4rem;
    border-radius: .25rem;
    position: relative;
    width:18%;
    margin-bottom: 1rem;
    min-width: 40px;
}

.modal-body .btn-short:hover,
.modal-captcha .btn-short:hover,
.modal-message .btn-tiny:hover {
    color: var(--color-dos);
    background-color: transparent;
    border: 1px solid var(--color-dos);
}

.modal-body .btn-short:active,
.modal-captcha .btn-short:active,
.modal-message .btn-tiny:active {
    color:var(--color-tres);
    background-color: transparent;
    border: 1px solid var(--color-tres);
}

.modal-body a{
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-cuatro);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 0.95rem;
    background-color: transparent;
    text-decoration: underline;    
    text-align:left
}

.modal-body a:hover {
    color: var(--color-dos);
}

.modal-body a:active {
    color:var(--color-tres);
}

.modal-body input.large{
    width: 100%;
    margin-bottom: 1.4rem;
}

.modal-captcha hr,
.modal-message hr{
    margin-top: -0.5rem;
    margin-bottom: 1.4rem;
    border-radius: .25rem;
    border-top: 1px solid var(--color-cuatro); 
    height:0;
}

.modal-captcha{
    position: relative;
    color: var(--color-dos);
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-bottom: 0.5em;
    display:none; 
    text-align:left;
}

.modal-captcha canvas{
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: .25rem;
    width:80%;
    margin-right: .2rem;
    margin-bottom: .5rem;
}

.modal-captcha .btn-no-border{
    border: 0 !important;
    font-size: 2rem;
}

.modal-message{
    position: relative;
    color: var(--color-tres);
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-bottom: 0.5em;
    display:none; 
    text-align:left;
}

.modal-message p{
    width: 89%;
    display: inline-block;
    vertical-align: middle;
}

.modal-classroomview__students {
    text-align: center;
}

.modal-classroomview__options{
    text-align: center;
}

.modal-classroomview__options .btn-tiny  {
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-cuatro);
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--color-cinco);
    border: 1px solid var(--color-cuatro);
    font-size: 1.4rem;
    border-radius: .25rem;
    position: relative;
    width:24%;
    display: inline-block;
    margin-bottom: 1rem;
    margin:2px;
    min-width: 40px;
}



/* button
 * ------------------------------------------------- */
.btn {
    margin-top: 23em;
    margin-bottom: 1em;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-cuatro);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--color-cinco);
    border: 2px solid var(--color-cuatro);
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.btn:hover {
    color: var(--color-dos);
    background-color: transparent;
    border: 2px solid var(--color-dos);
    
}

.btn:active {
    color:var(--color-tres);
    background-color: transparent;
    border: 2px solid var(--color-tres);
}



/* keyboard
 * ------------------------------------------------- */
.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: var(--color-uno);
    user-select: none;
    transition: bottom 0.4s;
    z-index: 2;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 40px;
    width: 3.4%;
    min-width: 22px;
    max-width: 90px;
    margin: 2.5px;
    border-radius: 4px;
    border: none;
    background: var(--color-cinco);
    color: var(--color-cuatro);
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active, .keyboard__key.active{
    background:rgba(255, 255, 255, 0.12);
}

.keyboard__key.keypress {
    animation: keypressed-change-color 1s;
}
  
@keyframes keypressed-change-color {
    0% {
        background: rgba(255, 255, 255, 0.12);
    }
    100% {
        background: var(--color-cinco);
    }
}

.keyboard__key.suprkeypress {
    animation: suprkeypressed-change-color 1s;
}
  
@keyframes suprkeypressed-change-color {
    0% {
        background: var(--color-cinco);
    }
    100% {
        background: var(--color-dos);
    }
}

.keyboard__key--backspace {
    max-width: 100px;
    width: 12%;
}

.keyboard__key--shift {
    max-width: 120px;
    width: 9%;
}

.keyboard__key--undo {
    min-width: 40px;
}

.keyboard__key--enter {
    width: 8.5%;
}

.keyboard__key--wide {
    width: 10.5%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 430px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 8px;
    right: 10px;
    position: absolute;
    width: 9px;
    height: 9px;
    background: var(--color-dos);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: var(--color-seis);
}

.keyboard__key--dark {
    background: #662B2F;
}

.keyboard__key--pending {
    color: var(--color-tres);
    background: var(--color-cuatro);
}



/* input placeholder
 * ------------------------------------------------- */
 .use-content-text{
    filter: blur(2px);
    position: absolute;
    z-index: 0;
    border: 2px solid var(--color-cuatro) !important;
    border-radius: 2mm;
    background-color: var(--color-cinco);
    color: var(--color-dos);
    padding: 15px;
    font-size: 4.2vh;
    width: 100%;
    height: 280px;
    margin-bottom: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    resize: none;
    /*scrollbar-width: thin;*/
}

.use-content-text.error {
    animation: error-change-color 0.5s;
}
  
@keyframes error-change-color {
    0% {
        background: var(--color-cuatro);
    }
    100% {
        background: var(--color-uno);
    }
}

.use-content-text.sucess {
    animation: error-change-color-success 1s;
}
  
@keyframes error-change-color-success {
    0% {
        background: #3CD2E6;
    }
    100% {
        background: var(--color-uno);
    }
}
  
.fadedOut { 
    filter: blur(0px);
    transition-duration:  1500ms;
    transition-property: filter; 
    transition-delay: 500ms; 
}


.use-content-text::-webkit-scrollbar {
    display: none;
}
/*
.use-content-text::-webkit-scrollbar-track  {
    background: var(--color-cinco);
}
.use-content-text::-webkit-scrollbar-thumb {
    background-color: var(--color-uno);
    border-radius: 6px;
    border: 1px solid var(--color-uno);
}*/



/* input
 * ------------------------------------------------- */
.use-keyboard-input{
    position: absolute;
    z-index: 1;
    border: 2px solid var(--color-cuatro) !important;
    border-radius: 2mm;
    background-color: transparent;
    color: var(--color-tres);
    padding: 15px;
    font-size: 4.2vh;
    width: 100%;
    height: 280px;
    margin-bottom: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    resize: none;
}

.use-keyboard-input:focus {
    outline: none !important;
    border: 2px solid var(--color-dos);
}


.use-keyboard-input::-webkit-scrollbar {
    display: none;
}



/* clic zone
 * ------------------------------------------------- */
.clic-zone {
    position: absolute;
    z-index: 2;
    border: 3px dashed var(--color-cuatro);
    border-radius: 2mm;
    background-color: var(--color-cinco);
    color: var(--color-tres);
    padding: 65px;
    font-size: 4vh;
    width: 100%;
    height: 280px;
    opacity: 0.6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.hidden { 
    opacity: 0; 
    visibility: hidden; 
    transition-duration: 1500ms; 
    transition-property: opacity, visibility; 
    transition-delay: 0s; 
}



/* alert
 * ------------------------------------------------- */
.alert{
    display:none;
    color: var(--color-uno);
    background-color: #3CD2E6 !important;
}



/* footer
 * ------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: transparent;
    text-align: center;
}

.footer a {
    color: var(--color-cuatro);
    text-decoration: none;
}

.footer a:hover {
    color: var(--color-dos);
}

.footer a:active {
    color:var(--color-tres);
}



/* hands
 * ------------------------------------------------- */
 .content-hands {
    position: fixed;
    bottom: -100%;
    width: 18%;
    height: 230px;
    padding: 5px 0;
    background: transparent;
    user-select: none;
    transition: bottom 0.4s;
    z-index: 3;
    display: inline-flex;
}

.content-hands-right{
    right: 0;
}

.content-hands-left{
    left: 0;
}

.content-hands--show {
    bottom: 0%;
}

.hand{
    position: relative;
    width: 90%;
    height: 70%;
    margin-top: 25px;
    transition: 1s;
}

.hand-left{
    margin-left: 6%;
}

.hand-right{
    margin-left: 5%;
}



/* result panel
 * ------------------------------------------------- */
 .resultpanel {
    position: fixed;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    padding: 5px 0;
    background: var(--color-uno);
    user-select: none;
    transition: top 0.8s;
    z-index: 3;
    opacity: 0.96;
    overflow-y: auto;
}

.resultpanel--showen {
   top:0;
}

.resultpanel__items {
    text-align: center;
}

.resultpanel__item {
    width: 100%;
    border: none;
    color: var(--color-cuatro);
    font-size: 1.05rem;
    outline: none;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.resultpanel__item--row{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.resultpanel__item--column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.resultpanel__item--content{
    width: 100%;
    border: none;
    color: var(--color-cuatro);
    font-size: 3rem;
    font-weight: bold;
    outline: none;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.resultpanel__item--book{
    width: 100%;
    height: 50%;
    border: none;
    color: var(--color-cuatro);
    font-size: 3rem;
    font-weight: bold;
    outline: none;
    display: block;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    position: static;
    margin-bottom: 9vh;
}

.btn-book {
    top:20px;
    margin-top: 0.5em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-cuatro);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--color-cinco);
    border: 2px solid var(--color-cuatro);
    padding: .375rem .75rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: .25rem;
    position: relative;
}

.btn-book:hover {
    color: var(--color-dos);
    background-color: transparent;
    border: 2px solid var(--color-dos);
    
}

.btn-book:active {
    color:var(--color-tres);
    background-color: transparent;
    border: 2px solid var(--color-tres);
}



/* mobile
 * ------------------------------------------------- */
@media only screen and (max-width:786px) {
    .keyboard__key--activatable::after {
        right: 5px;
        width: 6px;
        height: 6px;
    }  

    .btn {
        margin-top: 22em;
        margin-bottom: 0.8em;
    }

    .hand {
        margin-top: 0px;
        width: 50%;
        height: 40%;
    }  
    .hand-left{
        margin-left: 30%;
    }
    .hand-right{
        margin-left: 20%;
    }
    .me-4{
        margin-right:.19rem !important;
    }
}

@media only screen and (max-width:600px) {
    .content-hands {
        display: none;
    }  

    .modal-content {
        width: 85%;
    }

    .close {
        padding-left:85%;
    }

    .modal-message p{
        font-size: 17px;
        width: 83%;
    }
}



/* landscape mode on mobiles
 * ------------------------------------------------- */
@media only screen and (orientation:landscape) and (max-width:700px){
    .use-keyboard-input{
        height: 110px;
    }

    .use-content-text{
        height: 110px;
    }

    .btn {
        margin-top: 7.7em;
    }

    .keyboard__key {
        height: 28px;
    }

    .hand {
        margin-top: 50px;
    } 

    .card-body{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .card-text{
        font-size: 17px;
        margin-left: -17px !important;
    }

    .clic-zone {
        height: 110px;
        padding: 12px;
    }

    .resultpanel__item--content{
        font-size: 2rem;
    }
}