/* colores
 * ------------------------------------------------- 
    E9E9E9 = blanco
    cf3e3e = red
    5f5f5f = gris claro
    1f1f1f = gris oscuro
    0D0A0B = gris muy oscuro
*/



/* main
 * ------------------------------------------------- */
 html,body{
    background-color: #1f1f1f !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* google material icons
 * ------------------------------------------------- */
 .material-icons{
    display: inline-flex;
    vertical-align: top;
 }



/* card
 * ------------------------------------------------- */
 .card{
    color: #5f5f5f;
    background-color: #1f1f1f !important;
    border:none !important;
 }

 .card-text{
    font-size: 18px;
    
    margin-left: -17px !important;
 }

 .card-text p{
    color: #cf3e3e;
    display: inline-block;
    margin-bottom: 0 !important;
    font-weight: bold;
 }

 .card-text i{
    height: 0px !important;
 }

 .btn-limpiar {
    margin-top: 23em;
    margin-bottom: 1em;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #cf3e3e;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #1a0b0c;
    border: 2px solid #cf3e3e;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.btn-limpiar:hover {
    color: #5f5f5f;
    background-color: transparent;
    border: 2px solid #5f5f5f;
    
}

.btn-limpiar:active {
    color:#E9E9E9;
    background-color: transparent;
    border: 2px solid #E9E9E9;
}



/* keyboard
 * ------------------------------------------------- */
.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #1f1f1f;
    user-select: none;
    transition: bottom 0.4s;
    z-index: 2;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 40px;
    width: 3.4%;
    min-width: 22px;
    max-width: 90px;
    margin: 2.5px;
    border-radius: 4px;
    border: none;
    background: #1a0b0c;
    color: #cf3e3e;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active, .keyboard__key.active{
    background:rgba(255, 255, 255, 0.12);
}

.keyboard__key.keypress {
    animation: keypressed-change-color 1s;
}
  
@keyframes keypressed-change-color {
    0% {
        background: rgba(255, 255, 255, 0.12);
    }
    100% {
        background: #1a0b0c;
    }
}

.keyboard__key.suprkeypress {
    animation: suprkeypressed-change-color 1s;
}
  
@keyframes suprkeypressed-change-color {
    0% {
        background: #1a0b0c;
    }
    100% {
        background: #5f5f5f;
    }
}

.keyboard__key--backspace {
    max-width: 100px;
    width: 12%;
}

.keyboard__key--shift {
    max-width: 120px;
    width: 9%;
}

.keyboard__key--undo {
    min-width: 40px;
}

.keyboard__key--enter {
    width: 8.5%;
}

.keyboard__key--wide {
    width: 10.5%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 430px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 8px;
    right: 10px;
    position: absolute;
    width: 9px;
    height: 9px;
    background: #5f5f5f;
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #3CD2E6;
}

.keyboard__key--dark {
    background: #662B2F;
}

.keyboard__key--pending {
    color: #E9E9E9;
    background: #cf3e3e;
}



/* input placeholder
 * ------------------------------------------------- */
 .use-content-text{
    filter: blur(2px);
    position: absolute;
    z-index: 0;
    border: 2px solid #cf3e3e;
    border-radius: 2mm;
    background-color: #1a0b0c;
    color: #5f5f5f;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    height: 280px;
    margin-bottom: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    resize: none;
    /*scrollbar-width: thin;*/
}

.use-content-text.error {
    animation: error-change-color 0.5s;
}
  
@keyframes error-change-color {
    0% {
        background: #cf3e3e;
    }
    100% {
        background: #1f1f1f;
    }
}

.use-content-text.sucess {
    animation: error-change-color-success 1s;
}
  
@keyframes error-change-color-success {
    0% {
        background: #3CD2E6;
    }
    100% {
        background: #1f1f1f;
    }
}
  
.fadedOut { 
    filter: blur(0px);
    transition-duration:  1500ms;
    transition-property: filter; 
    transition-delay: 500ms; 
}


.use-content-text::-webkit-scrollbar {
    display: none;
}
/*
.use-content-text::-webkit-scrollbar-track  {
    background: #1a0b0c;
}
.use-content-text::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 6px;
    border: 1px solid #1f1f1f;
}*/



/* input
 * ------------------------------------------------- */
.use-keyboard-input{
    position: absolute;
    z-index: 1;
    border: 2px solid #cf3e3e;
    border-radius: 2mm;
    background-color: transparent;
    color: #E9E9E9;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    height: 280px;
    margin-bottom: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    resize: none;
}

.use-keyboard-input:focus {
    outline: none !important;
    border: 2px solid #5f5f5f;
}


.use-keyboard-input::-webkit-scrollbar {
    display: none;
}



/* clic zone
 * ------------------------------------------------- */
.clic-zone {
    position: absolute;
    z-index: 2;
    border: 3px dashed #cf3e3e;
    border-radius: 2mm;
    background-color: #1a0b0c;
    color: #E9E9E9;
    padding: 65px;
    font-size: 4vh;
    width: 100%;
    height: 280px;
    opacity: 0.6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.hidden { 
    opacity: 0; 
    visibility: hidden; 
    transition-duration: 1500ms; 
    transition-property: opacity, visibility; 
    transition-delay: 0s; 
}



/* alert
 * ------------------------------------------------- */
.alert{
    color: #1f1f1f !important;
    background-color: #3CD2E6 !important;
}



/* footer
 * ------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: transparent;
    text-align: center;
}

.footer a {
    color: #cf3e3e;
    text-decoration: none;
}

.footer a:hover {
    color: #5f5f5f;
}

.footer a:active {
    color:#E9E9E9;
}



/* hands
 * ------------------------------------------------- */
 .content-hands {
    position: fixed;
    bottom: -100%;
    width: 18%;
    height: 230px;
    padding: 5px 0;
    background: transparent;
    user-select: none;
    transition: bottom 0.4s;
    z-index: 3;
    display: inline-flex;
}

.content-hands-right{
    right: 0;
}

.content-hands-left{
    left: 0;
}

.content-hands--show {
    bottom: 0%;
}

.hand{
    position: relative;
    width: 90%;
    height: 70%;
    margin-top: 25px;
    transition: 1s;
}

.hand-left{
    margin-left: 6%;
}

.hand-right{
    margin-left: 5%;
}



/* mobile
 * ------------------------------------------------- */
@media only screen and (max-width:786px) {
    .keyboard__key--activatable::after {
        right: 5px;
        width: 6px;
        height: 6px;
    }  

    .btn-limpiar {
        margin-top: 22em;
        margin-bottom: 0.8em;
    }

    .hand {
        margin-top: 0px;
        width: 50%;
        height: 40%;
    }  
    .hand-left{
        margin-left: 30%;
    }
    .hand-right{
        margin-left: 20%;
    }
}

@media only screen and (max-width:600px) {
    .content-hands {
        display: none;
    }  
}



/* landscape mode on mobiles
 * ------------------------------------------------- */
@media only screen and (orientation:landscape) and (max-width:700px){
    .use-keyboard-input{
        height: 110px;
    }

    .use-content-text{
        height: 110px;
    }

    .btn-limpiar {
        margin-top: 7.7em;
    }

    .keyboard__key {
        height: 28px;
    }

    .hand {
        margin-top: 50px;
    } 

    .card-body{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .card-text{
        font-size: 17px;
        margin-left: -17px !important;
    }

    .clic-zone {
        height: 110px;
        padding: 12px;
    }
}