@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 400;
    src: url("../fonts/Quicksand.woff2") format('woff2');
    unicode-range: U+1f1f1f0-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+21f1f1f-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --color-uno: #1f1f1f;
    --color-dos: #5f5f5f;
    --color-tres: #E9E9E9;
    --color-cuatro: #cf3e3e;
    --color-cinco: #1a0b0c;
    --fuente: Quicksand;
}

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--fuente);
	background: var(--color-uno);
	font-weight: 400;
	font-size: 100%;
	color: var(--color-dos);
	height: 100%;
}

.js body {
	overflow: hidden;
}

a {
	color: var(--color-dos);
	text-decoration: none;
	outline: none;
}

a:hover {
	color: var(--color-dos);
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.no-js .container {
	padding-left: 240px;
}

.bb-custom-wrapper nav {
	top: 20px;
	left: 60px;
	position: absolute;
	z-index: 1000;
}

.bb-custom-wrapper nav span,
.close-button {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	border: 2px solid var(--color-cuatro);
	background-color: var(--color-cinco);
	border-radius: 50%;
	color: var(--color-cuatro);
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.bb-custom-wrapper nav span:hover,
.close-button:hover {
	color: var(--color-dos);
    background-color: transparent;
    border: 2px solid var(--color-dos);
}

.bb-custom-wrapper nav span:last-child {
	left: 40px;
}

.close-button {
	z-index: 1000;
	left: 20px;
	top: 20px;
	background-color: var(--color-cinco);
	color: var(--color-cuatro);
}

.close-button:after {
	position: absolute;
	width: 50%;
	height: 2px;
	color: var(--color-dos);
    background-color: transparent;
	top: 50%;
	margin-top: -1px;
	left: 25%;
}

.no-js .bb-custom-wrapper nav span,
.no-js .close-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	bottom: 50px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: var(--color-uno);
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: var(--color-uno);
}

.content h2 {
	font-weight: 300;
	font-size: 4em;
	padding: 0 0 10px;
	color: var(--color-dos);
	margin: 0 1% 40px;
	text-align: left;
}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content p {
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 300;
	padding: 5px 8%;
	text-align: justify;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}